# OOP - Inheritence

### Membuat class `Person`

In [1]:
class Person:

  def __init__(self, name, idnumber):
    self.name = name
    self.idnumber = idnumber

  def getName(self):
    return self.name

  def isEmployee(self):
    return False

### Membuat child class dari class `Person`, yaitu class `Employee`

In [15]:
class Employee(Person):

  def __init__(self, name, idnumber, salary, job):
    super().__init__(name, idnumber)
    self.salary = salary
    self.job = job

  def isEmployee(self):
      return True

# Seaborn

In [3]:
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Membuat grafik distplot dari banyaknya tiap tips

In [4]:
# Code Here

### Membuat grafik yang menunjukan `total_bill` per hari

In [5]:
# Code Here

### Membuat grafik yang memunculkan semua variable pada dataset `tips`

In [6]:
# Code Here

# Numpy

In [7]:
import numpy as np

### Membuat numpy array 1d

In [8]:
# Code Here

### Mengganti nilai angka ganjil dari array menjadi -1
`input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]`

`output: [-1, 2, -1, 4, -1, 6, -1, 8, -1, 10, -1]`

In [9]:
# Code Here

### Mencari angka yang paling banyak muncul (`Modus`)
#### Input (numpy array) :
`x : [1, 2, 3, 2, 3, 4, 3, 4, 5, 6]`

`y : [7, 2, 10, 2, 7, 4, 9, 4, 9, 8]`

`output: [2, 4]`

In [10]:
# Code Here